.intro {
	position: relative;
	padding: rem(90) 0 rem(240) 0;
	height: rem(370);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, #1C1B21 90%), url('../../assets/img/intro.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	@include media('min', 576) {
		padding: rem(120) 0 rem(280) 0;
	}
	@media (max-height: 767.98px) {
		padding: rem(120) 0 rem(180) 0;
	}
	@media (min-height: 360px) {
		height: 100vh;
	}
	// intro__container
	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	// .intro__text
	&__text {
		margin: auto 0 0 0;
	}
	// .intro__suptitle
	&__suptitle {
		margin: 0 0 rem(10) 0;
		font-size: rem(30);
		text-transform: capitalize;
		text-align: center;
		@include media('min', 576) {
			font-size: rem(36);
			text-align: start;
		}
		@include media('min', 992) {
			font-size: rem(48);
		}
	}
	// .intro__title
	&__title {
		margin: 0 0 rem(50) 0;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px #ffffff;
		font-size: rem(50);
		text-transform: capitalize;
		text-align: center;
		@include media('min', 576) {
			font-size: rem(70);
			text-align: start;
		}
		@include media('min', 992) {
			font-size: rem(100);
		}
	}
	// .intro__player
	&__player {
		display: flex;
		column-gap: rem(45);
		align-items: center;
		height: 27px;
	}
	// .intro__button
	&__button {
		background: transparent;
		border: 0;
		font-size: rem(22);
		color: var(--color-light);
	}
	// .intro__bar
	&__bar {
		position: relative;
		display: flex;
		align-items: center;
		flex-grow: 1;
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: prc(68, 880);
			width: rem(2);
			height: rem(20);
			background: var(--color-accent);
		}
	}
	// .intro__line
	&__line {
		position: relative;
		flex-grow: 1;
		height: rem(2);
		border: 0;
		background: var(--color-light);
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: prc(70, 880);
			height: 100%;
			background: var(--color-accent);
		}
	}
	// .intro__time
	&__time {
		font-size: rem(18);
		font-weight: 500;
	}
}

.news {
	margin: rem(-150) 0 0 0;
	@media (max-height: 500px) and (max-width: 991.98px) {
		margin: rem(-100) 0 0 0;
	}
	@media (max-height: 450px) and (max-width: 991.98px) {
		margin: rem(-50) 0 0 0;
	}
	@media (max-height: 400px) and (max-width: 991.98px) {
		margin: 0 0 0 0;
	}
	@media (max-height: 600px) and (min-width: 992px) {
		margin: rem(-100) 0 0 0;
	}
	@media (max-height: 500px) and (min-width: 992px) {
		margin: rem(-50) 0 0 0;
	}
	@media (max-height: 450px) and (min-width: 992px) {
		margin: 0 0 0 0;
	}
	// .news__inner
	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
		gap: rem(30);
	}
	// .news__card
	&__card {
		position: relative;
		height: rem(300);
		border-radius: rem(20) 0;
		overflow: hidden;
	}
	// .news__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	// .news__title
	&__title {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		padding: rem(20);
		background: rgba($color: $color-accent, $alpha: 0.7);
		border-radius: rem(20) 0;
		font-size: rem(16);
		font-weight: 500;
	}
}

.about {
	padding: rem(90) 0 rem(45);
	@include media('min', 768) {
		padding: rem(180) 0 rem(90);
	}
	// .about__inner
	&__inner {
		display: grid;
		gap: rem(50) rem(125);
		@include media('min', 992) {
			grid-template-columns: 5fr 4fr;
		}
	}
	// .about__title
	&__title {
		margin: 0 0 rem(30) 0;
		padding: 0 0 0 rem(74);
		background: url('../img/icons/title.svg') no-repeat left center;
		font-size: rem(30);
		@include media('min', 576) {
			font-size: rem(40);
		}
		@include media('min', 768) {
			margin: 0 0 rem(60) 0;
			padding: 0 0 0 rem(94);
			font-size: rem(48);
		}
	}
	// .about__text
	&__text {
		margin: 0 0 rem(50) 0;
		color: rgba($color: #ffffff, $alpha:0.7);
		@include media('min', 1130) {
			margin: 0 0 rem(100) 0;
		}
	}
	// .about__list
	&__list {
		display: grid;
		gap: rem(30) rem(40);
		@include media('min', 768) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include media('min', 992) {
			grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
		}
	}
	// .about__item
	&__item {
		position: relative;
		padding: 0 0 0 rem(50);
		font-size: rem(18);
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: rem(30);
			height: rem(30);
			top: rem(-1);
			left: 0;
			border-radius: rem(10) 0;
			background: var(--color-accent);
		}
	}
	// .about__photos
	&__photos {
		position: relative;
		display: flex;
		justify-content: center;
		@include media('min', 992) {
			justify-content: flex-end;
		}
	}
	// .about__image
	&__image {
		width: 100%;
		height: rem(300);
		margin: rem(125) 0 0 0;
		object-fit: cover;
		border-radius: rem(20) 0;
		opacity: 0.3;
		transform: translate(0, 0);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		@include media('min', 425) {
			width: rem(350);
			height: rem(400);
		}
		&.is-active {
			position: absolute;
			z-index: 5;
			transform: translate(0, rem(-95));
			opacity: 1;
			cursor: default;
			@include media('min', 576) {
				transform: translate(rem(-95), rem(-65));
			}
		}
	}
}
