.intro {
	position: relative;
	padding: rem(90) 0 rem(240) 0;
	height: rem(370);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, #1C1B21 90%), url('../../assets/img/intro.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	@include media('min', 576) {
		padding: rem(120) 0 rem(280) 0;
	}
	@media (max-height: rem(767.98)) {
		padding: rem(120) 0 rem(180) 0;
	}
	@media (min-height: rem(360)) {
		height: 100vh;
	}
	// intro__container
	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	// .intro__text
	&__text {
		margin: auto 0 0 0;
	}
	// .intro__suptitle
	&__suptitle {
		margin: 0 0 rem(10) 0;
		font-size: rem(30);
		text-transform: capitalize;
		text-align: center;
		@include media('min', 576) {
			font-size: rem(36);
			text-align: start;
		}
		@include media('min', 992) {
			font-size: rem(48);
		}
	}
	// .intro__title
	&__title {
		margin: 0 0 rem(50) 0;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: rem(1) var(--color-white);
		font-size: rem(50);
		text-transform: capitalize;
		text-align: center;
		@include media('min', 576) {
			font-size: rem(70);
			text-align: start;
		}
		@include media('min', 992) {
			font-size: rem(100);
		}
	}
	// .intro__player
	&__player {
		display: flex;
		gap: 0 rem(45);
		align-items: center;
		height: rem(27);
	}
	// .intro__button
	&__button {
		background: transparent;
		border: 0;
		font-size: rem(22);
		color: var(--color-white);
	}
	// .intro__bar
	&__bar {
		position: relative;
		display: flex;
		align-items: center;
		flex-grow: 1;
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: prc(68, 880);
			width: rem(2);
			height: rem(20);
			background: var(--color-accent-primary);
		}
	}
	// .intro__line
	&__line {
		position: relative;
		flex-grow: 1;
		height: rem(2);
		border: 0;
		background: var(--color-white);
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: prc(70, 880);
			height: 100%;
			background: var(--color-accent-primary);
		}
	}
	// .intro__time
	&__time {
		font-size: rem(18);
		font-weight: 500;
	}
}

.news {
	margin: rem(-150) 0 0 0;
	@media (max-height: rem(500)) and (max-width: rem(991.98)) {
		margin: rem(-100) 0 0 0;
	}
	@media (max-height: rem(450)) and (max-width: rem(991.98)) {
		margin: rem(-50) 0 0 0;
	}
	@media (max-height: rem(400)) and (max-width: rem(991.98)) {
		margin: 0 0 0 0;
	}
	@media (max-height: rem(600)) and (min-width: rem(992)) {
		margin: rem(-100) 0 0 0;
	}
	@media (max-height: rem(500)) and (min-width: rem(992)) {
		margin: rem(-50) 0 0 0;
	}
	@media (max-height: rem(450)) and (min-width: rem(992)) {
		margin: 0 0 0 0;
	}
	// .news__inner
	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
		gap: rem(30);
	}
	// .news__card
	&__card {
		position: relative;
		height: rem(300);
		border-radius: rem(20) 0;
		overflow: hidden;
	}
	// .news__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	// .news__title
	&__title {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		padding: rem(20);
		background: var(--color-accent-faded);
		border-radius: rem(20) 0;
		font-size: rem(16);
		font-weight: 500;
		& span {
			display: block;
		}
	}
}

.about {
	padding: rem(90) 0 rem(45);
	@include media('min', 768) {
		padding: rem(180) 0 rem(90);
	}
	// .about__inner
	&__inner {
		display: grid;
		gap: rem(50) rem(125);
		@include media('min', 992) {
			grid-template-columns: 5fr 4fr;
		}
	}
	// .about__title
	&__title {
		margin: 0 0 rem(30) 0;
		padding: 0 0 0 rem(74);
		background: url('../img/icons/title.svg') no-repeat left center;
		font-size: rem(30);
		@include media('min', 576) {
			font-size: rem(40);
		}
		@include media('min', 992) {
			margin: 0 0 rem(60) 0;
			padding: 0 0 0 rem(94);
			font-size: rem(48);
		}
	}
	// .about__text
	&__text {
		margin: 0 0 rem(50) 0;
		color: var(--color-font-faded);
		@include media('min', 1130) {
			margin: 0 0 rem(100) 0;
		}
	}
	// .about__list
	&__list {
		display: grid;
		gap: rem(30) rem(40);
		@include media('min', 768) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include media('min', 992) {
			grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
		}
	}
	// .about__item
	&__item {
		position: relative;
		padding: 0 0 0 rem(50);
		font-size: rem(18);
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: rem(30);
			height: rem(30);
			top: rem(-1);
			left: 0;
			border-radius: rem(10) 0;
			background: var(--color-accent-primary);
		}
	}
	// .about__photos
	&__photos {
		position: relative;
		display: flex;
		justify-content: center;
		@include media('min', 992) {
			justify-content: flex-end;
		}
	}
	// .about__image
	&__image {
		width: 100%;
		height: rem(300);
		margin: rem(125) 0 0 0;
		object-fit: cover;
		border-radius: rem(30) 0;
		opacity: 0.3;
		transform: translate(0, 0);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		@include media('min', 425) {
			width: rem(350);
			height: rem(400);
		}
		&.is-active {
			position: absolute;
			z-index: 5;
			transform: translate(0, rem(-95));
			opacity: 1;
			cursor: default;
			@include media('min', 576) {
				transform: translate(rem(-95), rem(-65));
			}
		}
	}
}

.pop {
	padding: rem(45) 0;
	@include media('min', 768) {
		padding: rem(90) 0;
	}
	// .pop__container
	&__container {
		position: relative;
		padding: rem(45) rem(15);
		@include media('min', 992) {
			padding: rem(65) rem(15);
		}
		@include media('min', 1140) {
			padding: rem(85) rem(15);
		}
	}
	// .pop__description
	&__description {
		padding: rem(25) rem(40);
		border: rem(1) var(--color-white) solid;
		border-radius: rem(30) 0;
		@include media('min', 992) {
			padding: rem(50) rem(80);
		}
	}
	// .pop__text
	&__text {
		margin: 0 0 rem(25) 0;
		padding: 0 0 rem(25) 0;
		border-bottom: rem(1) var(--color-white-delimiter) solid;
		background: url('../img/icons/quotes.svg') no-repeat;
		font-size: rem(18);
		@include media('min', 768) {
			max-width: rem(400);
		}
		@include media('min', 992) {
			max-width: rem(520);
		}
	}
	// .pop__link
	&__link {
		font-size: rem(18);
		font-weight: 700;
		color: var(--color-accent-primary);
		&:hover {
			text-decoration: underline;
		}
	}
	// .pop__img
	&__image {
		display: none;
		@include media('min', 768) {
			position: absolute;
			display: block;
			max-width: rem(240);
			height: 100%;
			top: 0;
			right: rem(55);
			border-radius: rem(30) 0;
			object-fit: cover;
		}
		@include media('min', 992) {
			max-width: rem(300);
			right: rem(65);
		}
		@include media('min', 1140) {
			max-width: rem(370);
			right: rem(95);
		}
	}
}

.tracks {
	padding: rem(45) 0;
	@include media('min', 768) {
		padding: rem(90) 0;
	}
	// .tracks__container
	&__container {
		@include media('min', 768) {
			display: grid;
			grid-template-columns: minmax(rem(300), rem(510)) minmax(rem(300), rem(540));
			gap: 0 rem(60);
		}
	}
	&__col {
		display: none;
		@include media('min', 768) {
			display: block;
			align-self: center;
		}
	}
	// .tracks__photo
	&__photo {
		@include media('min', 768) {
			position: relative;
			padding: rem(40);
			border-radius: 50%;
			background: var(--color-accent-secondary);
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: calc(100% - rem(40));
				height: calc(100% - rem(40));
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: var(--color-accent-faded);
				border-radius: 50%;
			}
		}
	}
	// .tracks__image
	&__image {
		@include media('min', 768) {
			position: relative;
			z-index: 5;
			width: 100%;
			border-radius: 50%;
		}
	}
	// .tracks__title
	&__title {
		margin: 0 0 rem(30) 0;
		padding: 0 0 0 rem(74);
		background: url('../img/icons/title.svg') no-repeat left center;
		font-size: rem(30);
		@include media('min', 576) {
			font-size: rem(40);
		}
		@include media('min', 992) {
			margin: 0 0 rem(60) 0;
			padding: 0 0 0 rem(94);
			font-size: rem(48);
		}
	}
	// .tracks__player
	&__player {
		display: flex;
		gap: 0 rem(45);
		margin: 0 0 rem(30) 0;
		align-items: center;
		height: rem(27);
		@include media('min', 992) {
			margin: 0 0 rem(50) 0;
		}
	}
	// .tracks__button
	&__button {
		background: transparent;
		border: 0;
		font-size: rem(22);
		color: var(--color-white);
	}
	// .tracks__bar
	&__bar {
		position: relative;
		display: flex;
		align-items: center;
		flex-grow: 1;
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: prc(68, 312);
			width: rem(2);
			height: rem(20);
			background: var(--color-accent-primary);
		}
	}
	// .tracks__line
	&__line {
		position: relative;
		flex-grow: 1;
		height: rem(2);
		border: 0;
		background: var(--color-white);
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: prc(70, 312);
			height: 100%;
			background: var(--color-accent-primary);
		}
	}
	// .tracks__time
	&__time {
		font-size: rem(18);
		font-weight: 500;
	}
	// .tracks__list
	&__list {
		display: grid;
		gap: rem(20) 0;
		margin: 0 0 rem(30) 0;
		@include media('min', 992) {
			margin: 0 0 rem(50) 0;
		}
	}
	// .tracks__link
	&__music {
		display: inline-flex;
		gap: 0 rem(20);
		color: inherit;
		transition: color 0.3s ease 0s;
		&:hover {
			color: var(--color-accent-primary);
		}
	}
	// .tracks__number
	&__number {
		width: rem(20);
		margin: rem(5) 0 0 0;
		font-size: rem(14);
		font-weight: 700;
		color: var(--color-white-delimiter);
	}
	// .tracks__name
	&__name {
		font-size: rem(18);
		&.is-active {
			font-weight: 600;
			color: var(--color-accent-primary);
		}
	}
	// .tracks__references
	&__references {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(20) rem(40);
	}
	// .tracks__caption
	&__caption {
		font-size: rem(20);
		font-weight: 600;
		@include media('min', 768) {
			font-size: rem(24);
		}
		@include media('min', 992) {
			font-size: rem(28);
		}
	}
	// .tracks__social
	&__social {
		display: flex;
		align-items: center;
		gap: 0 rem(30);
	}
	// .tracks__link
	&__link {
		display: flex;
		align-items: center;
		gap: rem(15);
		font-size: rem(14);
		color: inherit;
		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}
	// .tracks__icon
	&__icon {
		font-size: rem(24);
	}
}

.gallery {
	padding: rem(45) 0;
	@include media('min', 768) {
		padding: rem(90) 0;
	}
	// .gallery__inner
	&__inner {
		display: grid;
		grid-auto-flow: dense;
		grid-auto-rows: rem(180);
		gap: rem(20);
		@include media('min', 480) {
			grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
			grid-auto-rows: rem(235);
		}
		@include media('min', 576) {
			gap: rem(30);
		}
	}
	// .gallery__image
	&__image {
		position: relative;
		&:nth-child(1) {
			@include media('min', 920) {
				grid-row: span 2;
			}
		}
		&:nth-child(2) {
			@include media('max', 689.98) {
				order: 5;
			}
		}
		&:nth-child(3) {
			@include media('max', 689.98) {
				order: 4;
			}
		}
		&:nth-child(4) {
			grid-column: span 2;
		}
		&:nth-child(5) {
			@include media('min', 920) {
				grid-row: span 2;
			}
		}
	}
	// .gallery__photo
	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: rem(30) 0;
	}
	// .gallery__caption
	&__caption {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: var(--color-bg-faded);
		font-size: rem(20);
		font-weight: 700;
		color: var(--color-accent-primary);
		@include media('min', 768) {
			font-size: rem(24);
		}
	}
}

.events {
	position: relative;
	padding: rem(45) 0;
	@include media('min', 768) {
		padding: rem(90) 0;
	}
	// .events__container
	&__container {
		display: grid;
		@include media('min', 768) {
			padding: 0 rem(80);
		}
		@include media('min', 1240) {
			padding: 0 rem(15);
		}
	}
	// .events__slider
	&__slider {
		width: 100%;
		@include media('max', 767.98) {
			margin: 0 0 rem(20) 0;
		}
	}
	// .events__slide
	&__slide {
		display: flex;
		flex-direction: column;
		border-radius: rem(30) 0;
		background: var(--color-bg-slide);
	}
	// .events
	&__image {
		width: 100%;
		height: rem(150);
		border-radius: rem(30) 0;
		object-fit: cover;
		@include media('min', 576) {
			height: rem(200);
		}
		@include media('min', 768) {
			height: rem(280);
		}
	}
	// .events__description
	&__description {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}
	// .events__text
	&__text {
		margin: 0 0 rem(15) 0;
		padding: rem(10) rem(15) 0;
		@include media('min', 576) {
			padding: rem(20) rem(25) 0;
		}
		@include media('min', 768) {
			padding: rem(30) rem(35) 0;
		}
	}
	// .events__place
	&__place {
		margin: 0 0 rem(5) 0;
		font-weight: 700;
		color: var(--color-white-delimiter);
		@include media('min', 576) {
			margin: 0 0 rem(20) 0;
			font-size: rem(18);
		}
		@include media('min', 768) {
			margin: 0 0 rem(30) 0;
		}
	}
	// .events__title
	&__title {
		font-weight: 500;
		@include media('min', 576) {
			font-size: rem(18);
		}
	}
	// .events__contacts
	&__contacts {
		display: flex;
		@include media('min', 576) {
			align-items: center;
			justify-content: space-between;
		}
		@include media('max', 575.98) {
			flex-direction: column;
		}
	}
	// .events__date
	&__date {
		padding: 0 0 0 rem(15);
		font-size: rem(14);
		font-weight: 700;
		color: var(--color-white-delimiter);
		@include media('min', 768) {
			padding: 0 0 0 rem(35);
			font-size: rem(16);
		}
		@include media('max', 575.98) {
			margin: 0 0 rem(10) 0;
		}
	}
	// .events__link
	&__link {
		display: block;
		padding: rem(15);
		border-radius: rem(30) 0;
		background: var(--color-accent-primary);
		align-items: center;
		font-size: rem(14);
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		color: inherit;
		transition: background 0.2s ease 0s;
		@include media('min', 576) {
			padding: rem(15) rem(30);
			text-align: start;
		}
		@include media('min', 768) {
			padding: rem(20) rem(50);
			font-size: rem(16);
		}
		&:hover {
			background: var(--color-accent-faded);
		}
	}
	// .events__navigation
	&__navigation {
		display: flex;
		justify-content: space-between;
		gap: 0 rem(20);
		padding: 0 rem(15);
		@include media('min', 576) {
			gap: 0 rem(30);
		}
		@include media('min', 768) {
			position: absolute;
			width: 100%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			max-width: rem(1300);
		}
	}
	// .events__button
	&__button {
		width: 100%;
		padding: rem(10);
		border: rem(1) var(--color-white-delimiter) solid;
		border-radius: rem(10) 0;
		background:transparent;
		@include media('min', 768) {
			width: rem(40);
			height: rem(60);
			padding: 0;
		}
		// .events__button_prev
		&_prev {
			& .events__icon {
				transform: rotate(180deg);
			}
		}
	}
	// .events__icon
	&__icon {
		display: inline-block;
		color: var(--color-white-delimiter);
		@include media('min', 768) {
			font-size: rem(8);
		}
	}
}
