{% set title = "Bright Lights" %}

{% extends "html/layouts/_default.html" %}

{% block content %}
	<div class="intro">
		<div class="intro__container">
			<div class="intro__text">
				<h2 class="intro__suptitle">New Single</h2>
				<h1 class="intro__title">War for love</h1>
			</div>

			<div class="intro__player">
				<button class="intro__button">
					<i class="icon-play"></i>
				</button>

				<div class="intro__bar">
					<hr class="intro__line">
				</div>

				<div class="intro__time">
					<span>00:22</span>
					-
					<span>02:54</span>
				</div>
			</div>
		</div>
	</div>

	<div class="news">
		<div class="news__container">
			<div class="news__inner">
				<article class="news__card">
					<img class="news__image" src="./assets/img/news/01.jpg" alt="">

					<h3 class="news__title">
						<span>Working on my upcoming full-lenth album that`s releasing later this year.</span>
					</h3>
				</article>

				<article class="news__card">
					<img class="news__image" src="./assets/img/news/02.jpg" alt="">

					<h3 class="news__title">
						<span>Halloween vibes.</span>
						<span>Listen my new track!</span>
					</h3>
				</article>

				<article class="news__card">
					<img class="news__image" src="./assets/img/news/03.jpg" alt="">

					<h3 class="news__title">
						<span>WarForLove is OUT NOW!!</span>
						<span>Stream it here!</span>
					</h3>
				</article>
			</div>
		</div>
	</div>

	<section class="about">
		<div class="about__container">
			<div class="about__inner">
				<div class="about__description">
					<h2 class="about__title">Bright Lights</h2>

					<p class="about__text">Bright Lights is a multi-Grammy nominated singer, songwriter, DJ and record producer. She has written for numerous pop stars including Britney Spears, Justin Bieber, Usher and Beyoncé. Her catalog has amassed over 1 billion streams worldwide. More than 100 million of those streams can be attributed to her artist career and include such hits as Porter Robinson's "Language," 3LAU's "How You Love Me" and her own single "Runaway." She was also a featured vocalist on Zedd's #1 Clarity album. Her latest music video, "Put It Down," reached 1 million streams in the first week, releasing independently. Bright Lights is currently in the studio working on a self-produced album slated for release in 2020.</p>

					<ul class="about__list">
						<li class="about__item">Based in: Los Angeles</li>
						<li class="about__item">Genre: #DancePop</li>
						<li class="about__item">Founded in 2011</li>
						<li class="about__item">Label: 333 Recordings</li>
					</ul>
				</div>

				<div class="about__photos">
					<img class="about__image is-active" src="./assets/img/about/01.jpg" alt="Photo 1">
					<img class="about__image" src="./assets/img/about/02.jpg" alt="Photo 2">
				</div>
			</div>
		</div>
	</section>

	<div class="pop">
		<div class="pop__container">
			<div class="pop__description">
				<p class="pop__text">“In an age where mainstream music is designed to be as easily consumed as possible, listening to Bright Lights is refreshing, to say the least. Her sound is perfect for radio but complex enough to separate her from other pop newcomers.”</p>

				<a class="pop__link" href="#">PopULove.net</a>
			</div>

			<img class="pop__image" src="./assets/img/pop.jpg" alt="Photo">
		</div>
	</div>

	<section class="tracks">
		<div class="tracks__container">
			<div class="tracks__col">
				<div class="tracks__photo">
					<img class="tracks__image" src="./assets/img/tracks.jpg" alt="Photo">
				</div>
			</div>

			<div class="tracks__description">
				<h2 class="tracks__title">Last tracks</h2>

				<div class="tracks__player">
					<button class="tracks__button">
						<i class="icon-play"></i>
					</button>

					<div class="tracks__bar">
						<hr class="tracks__line">
					</div>

					<div class="tracks__time">
						<span>00:47</span>
						-
						<span>03:30</span>
					</div>
				</div>

				<ul class="tracks__list">
					<li class="tracks__item">
						<a class="tracks__music" href="">
							<span class="tracks__number">01</span>
							<span class="tracks__name is-active">3LAU, Bright Lights — How You Love Me</span>
						</a>
					</li>
					<li class="tracks__item">
						<a class="tracks__music" href="">
							<span class="tracks__number">02</span>
							<span class="tracks__name">Bright Lights, Kaleena Zanders, Kandy — War For Love</span>
						</a>
					</li>
					<li class="tracks__item">
						<a class="tracks__music" href="">
							<span class="tracks__number">03</span>
							<span class="tracks__name">Pink Is Punk, Benny Benassi, Bright Lights — Ghost</span>
						</a>
					</li>
					<li class="tracks__item">
						<a class="tracks__music" href="">
							<span class="tracks__number">04</span>
							<span class="tracks__name">Hardwell, Dyro, Bright Lights — Never Say Goodbye</span>
						</a>
					</li>
					<li class="tracks__item">
						<a class="tracks__music" href="">
							<span class="tracks__number">05</span>
							<span class="tracks__name">Zeds Dead, Dirtyphonics, Bright Lights — Where Are You Now</span>
						</a>
					</li>
					<li class="tracks__item">
						<a class="tracks__music" href="">
							<span class="tracks__number">06</span>
							<span class="tracks__name">Zedd, Bright Lights — Follow You Down</span>
						</a>
					</li>
				</ul>

				<div class="tracks__references">
					<span class="tracks__caption">Follow me:</span>

					<div class="tracks__social">
						<a class="tracks__link" href="#">
							<i class="tracks__icon icon-spotify"></i>
							<span>Spotify</span>
						</a>
						<a class="tracks__link" href="#">
							<i class="tracks__icon icon-apple"></i>
							<span>iTunes</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="gallery">
		<div class="gallery__container">
			<div class="gallery__inner">
				<div class="gallery__image">
					<img class="gallery__photo" src="./assets/img/gallery/01.jpg" alt="Photo">
				</div>
				<div class="gallery__image">
					<img class="gallery__photo" src="./assets/img/gallery/02.jpg" alt="Photo">
				</div>
				<div class="gallery__image">
					<img class="gallery__photo" src="./assets/img/gallery/03.jpg" alt="Photo">
				</div>
				<div class="gallery__image">
					<img class="gallery__photo" src="./assets/img/gallery/04.jpg" alt="Photo">
					<span class="gallery__caption">EDC Las Vegas Mainstage</span>
				</div>
				<div class="gallery__image">
					<img class="gallery__photo" src="./assets/img/gallery/05.jpg" alt="Photo">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
